<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Website</title>
        {% load static %}  
    <script src="{% static '/js/script.js' %}" type="text/javascript"></script>  
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- <link rel="stylesheet" href ="style.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
<body>
    <!-- menu -->
<div class="menu" id="menu">
    <h1>Our <span>Menu</span></h1>
      <div class="menu_box">
        <div class="menu_card">
         <div class="menu_image">
           <img src="poori.jpg" >
         </div>
  
         <div class="small_card">
          <i class="fa-solid fa-heart"></i>  
         </div>
           <div class="menu_info">
            <h2>Poori</h2>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
            
            </p>
            <h3>$20.00</h3>
            <div class="menu_icon">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stoke"></i>
            </div>
            <a href="#" class="menu_btn">Order Now</a>
           </div>
        </div>
        <div class="menu_card">
          <div class="menu_image">
            <img src="idali.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Idali</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="masal dosa.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Masala Dosa</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="rava-idli.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Rava Idali</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="roti panner cury.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Roti Panner Curry</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="palav.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Palav</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="tomato bath.webp".jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Tomato Bath</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="full mils.avif" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Full mils</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="itli-comi.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Indian Food</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="itli-comi.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Indian Food</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="itli-comi.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Indian Food</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="idali.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Indian Food</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="itli-comi.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Indian Food</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="itli-comi.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Indian Food</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="itli-comi.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Indian Food</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
         <div class="menu_card">
          <div class="menu_image">
            <img src="itli-comi.jpg" >
          </div>
   
          <div class="small_card">
           <i class="fa-solid fa-heart"></i>  
          </div>
            <div class="menu_info">
             <h2>Indian Food</h2>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam enim soluta odio error? Sit magni voluptatibus quisquam illum vero.
             
             </p>
             <h3>$20.00</h3>
             <div class="menu_icon">
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star"></i>
               <i class="fa-solid fa-star-half-stoke"></i>
             </div>
             <a href="#" class="menu_btn">Order Now</a>
            </div>
         </div>
      </div>
  </div>
   
 <!-- chats -->
 <div class="chats" id="chats">
  <h1>Our<span>Chats</span></h1>
  <div class="chats_image_box">
  <div class="chats_image">
      <img src="gobi.jpg">
        <h3>Gobi Manchurian</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aspernatur incidunt eius tenetur reiciendis minima!</p>
        <a href="#" class="chats_btn">Order Now</a>
      </div>
      <div class="chats_image">
        <img src="babay corn.jpg">
          <h3>Babycorn Manchurian</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aspernatur incidunt eius tenetur reiciendis minima!</p>
          <a href="#" class="chats_btn">Order Now</a>
        </div>
        <div class="chats_image">
          <img src="bajji.jpg">
            <h3> Bajji</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aspernatur incidunt eius tenetur reiciendis minima!</p>
            <a href="#" class="chats_btn">Order Now</a>
          </div>
          <div class="chats_image">
            <img src="images.jpg">
              <h3>Bel puri</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aspernatur incidunt eius tenetur reiciendis minima!</p>
              <a href="#" class="chats_btn">Order Now</a>
            </div>
            
              <div class="chats_image">
                <img src="nipat.jpg">
                  <h3>Nipat Masala</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aspernatur incidunt eius tenetur reiciendis minima!</p>
                  <a href="#" class="chats_btn">Order Now</a>
                </div>
                <div class="chats_image">
                  <img src="panipuri.jpg">
                    <h3>Golgappa</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aspernatur incidunt eius tenetur reiciendis minima!</p>
                    <a href="#" class="chats_btn">Order Now</a>
                  </div>
</div>

</div>
</body>
</html>